{% extends 'base_admin.html' %}
{% block title %}Change Your Password{% endblock %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Old Password</label>
    <input type="password" name="old_password" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">New Password</label>
    <input type="password" name="new_password" class="form-control" required>
  </div>
  <button class="btn btn-primary">Confirm</button>
</form>
{% endblock %}
