{% extends 'base_admin.html' %}
{% block title %}Menu Management{% endblock %}

{% block content %}
<div class="row">
  <!-- Left Side Category Navigation -->
  <div class="col-md-3">
    <h5>classifications</h5>
    <ul class="list-group">
      {% for category in categories %}
        <li class="list-group-item">
          <a href="#category-{{ category.id }}" class="text-decoration-none">{{ category.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <a href="{% url 'add_menu_item' user_id %}" class="btn btn-success w-100 mt-3">Add Dish</a>
  </div>

  <!-- Contents of the dishes on the right -->
  <div class="col-md-9">
    {% for category in categories %}
      <h4 id="category-{{ category.id }}" class="mt-4">{{ category.name }}</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody>
          {% for item in menu_items %}
            {% if item.category.id == category.id %}
              <tr>
                <td>{{ item.item_name }}</td>
                <td>${{ item.price }}</td>
                <td>
                  {% if item.image %}
                    <img src="{{ item.image.url }}" alt="img" height="60">
                  {% endif %}
                </td>
                <td>
                  <a href="{% url 'edit_menu_item' user_id item.id %}" class="btn btn-sm btn-warning">Edit</a>
                  <form method="POST" action="{% url 'delete_menu_item' user_id item.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                  </form>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% empty %}
      <p class="text-muted">No Category</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
