<!-- orders.html -->
{% extends 'base_customer.html' %}
{% block title %}My Orders{% endblock %}
{% block content %}
<div class="container py-3">
  <h4 class="mb-4">My Orders</h4>
  {% for order in orders %}
    <div class="border rounded p-3 mb-3">
      <strong>Order Number:#{{ order.id }}</strong><br>
      Status:<span class="badge bg-info">{{ order.get_status_display }}</span><br>
      Total price: ${{ order.total_price }}<br>
      <ul class="mt-2">
        {% for item in order.items.all %}
          <li>{{ item.menu_item.item_name }} × {{ item.quantity }}</li>
        {% endfor %}
      </ul>
    </div>
  {% empty %}
    <p class="text-muted">No orders</p>
  {% endfor %}
</div>
{% endblock %}
